body {
    background-color: lightgray;
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.articles h2 {
  text-align: center;
}

.articles article {
    background-color: white;
    padding: 20px;
}

.articles img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border-top: 2px solid black;
}

@media screen and (min-width: 960px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
  .articles article:first-child {
    grid-column: span 3;
  }
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .articles {
    grid-template-columns: 1fr;
  }
  .footer {
    grid-template-columns: 1fr;
  }
}
